# Ignore dataset folder
/data/

# Ignore downloaded archives
*.zip

# Python junk
__pycache__/
*.pyc

# Environment files
.env

# Virtual environment
.venv/
venv/

# IDE/editor settings
.vscode/
.idea/

# OS-specific junk
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Build / distribution folders
build/
dist/
*.egg-info/
